{% extends "NGSContentBundle:Admin:dashboard.html.twig" %}

{% block admin_content %}
    <div class="flash-message">
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% elseif app.session.flashBag.has('error') %}
        <div class="alert alert-error">
            {% for msg in app.session.flashBag.get('error') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    </div>
    {% form_theme form 'NGSContentBundle:TranslationForm:a2lix_translation.html.twig' %}

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {{ form_widget(form.translations) }}
    <div class="row form-group">
        <div class="col-md-2">{{ form_label(form.type) }}</div>
        <div class="col-md-2">{{ form_widget(form.type, {'attr':{'class': 'form-control'}}) }}</div>
    </div>
    <div class="row form-group">
        <div class="col-md-2">{{ form_label(form.picture) }}</div>
        <div class="col-md-10">{{ form_widget(form.picture, {'attr':{'class': 'form-control'}}) }}</div>
    </div>
    <div class="row form-group">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <div class="buttons">
                {% block save_button %}
                    <button
                        type="submit"
                        class="btn btn-primary"
                    >
                        {{ 'submit'|trans }}
                    </button>
                  </div>

                {% endblock %}
            </div>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}