{% extends "NGSContentBundle:Admin:dashboard.html.twig" %}

{% block admin_content %}
    <div class="flash-message">
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% elseif app.session.flashBag.has('error') %}
        <div class="alert alert-error">
            {% for msg in app.session.flashBag.get('error') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    </div>
    <table class="table">
        <tr>
            <th>{{ 'type'|trans }}</th>
            <th>{{ 'title'|trans }}</th>
            <th>{{ 'description'|trans }}</th>
            <th>{{ 'picturepath'|trans }}</th>
            <th>{{ 'created'|trans }}</th>
            <th>{{ 'postedby'|trans }}</th>
            <th>{{ 'action'|trans }}</th>
        </tr>
        {% if articles %}
            {% for article in articles %}
                <tr>
                    {% if article.getType == constant('NGS\\ContentBundle\\Entity\\Article::ABOUT_TYPE') %}
                        <td>{{ 'about'|trans }}</td>
                    {% elseif article.getType == constant('NGS\\ContentBundle\\Entity\\Article::SERVICE_TYPE') %}
                        <td>{{ 'service'|trans }}</td>
                    {% elseif article.getType == constant('NGS\\ContentBundle\\Entity\\Article::HOME_TYPE') %}
                        <td>{{ 'home'|trans }}</td>
                    {% endif %}
                    <td>{{ article.getTitle }}</td>
                    <td>{{ article.getDescription|striptags }}</td>
                    <td>{{ article.getPicturePath }}</td>
                    <td>{{ article.getCreated.format('d/m/Y') }}</td>
                    <td>{{ article.getPostedBy }}</td>
                    <td>
                        <a
                            href="{{ path('admin_article_edit', {id: article.id}) }}"
                        >
                            {{ 'edit'|trans }}
                        </a> |
                        {% set confirmMessage = 'confirm.delete.message'|trans %}
                        <a
                            href="{{ path('admin_article_delete', {id: article.id}) }}"
                            onClick="return confirm('{{ confirmMessage }}')"
                        >
                            {{ 'delete'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
{% endblock %}