{% extends "NGSContentBundle:Admin:dashboard.html.twig" %}

{% block admin_content %}
    <div class="flash-message">
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% elseif app.session.flashBag.has('error') %}
        <div class="alert alert-error">
            {% for msg in app.session.flashBag.get('error') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    </div>
    <table class="table table-nonfluid">
        <tr class="row">
            <th class="col-md-1">{{ 'type'|trans }}</th>
            <th class="col-md-2">{{ 'title'|trans }}</th>
            <th class="col-md-5">{{ 'description'|trans }}</th>
            <th class="col-md-2">{{ 'picture'|trans }}</th>
            <th class="col-md-1">{{ 'created'|trans }}</th>
            {# <th class="col-md-1">{{ 'postedby'|trans }}</th> #}
            <th class="col-md-1">{{ 'action'|trans }}</th>
        </tr>
        {% if articles %}
            {% for article in articles %}
                <tr class="row">
                    {% if article.getType == constant('NGS\\ContentBundle\\Entity\\Article::ABOUT_TYPE') %}
                        <td class="col-md-2">{{ 'about'|trans }}</td>
                    {% elseif article.getType == constant('NGS\\ContentBundle\\Entity\\Article::SERVICE_TYPE') %}
                        <td class="col-md-2">{{ 'service'|trans }}</td>
                    {% elseif article.getType == constant('NGS\\ContentBundle\\Entity\\Article::HOME_TYPE') %}
                        <td class="col-md-2">{{ 'home'|trans }}</td>
                    {% endif %}
                    <td class="col-md-2">{{ article.getTitle }}</td>
                    <td class="show-more col-md-5">{{ article.getDescription|striptags }}</td>
                    <td class="col-md-2">
                        <img
                            src="/uploads/articles/{{ article.getPicturePath }}"
                            alt={{'picture'|trans}}
                            class="img-thumb"
                        >
                    </td>
                    <td class="col-md-1">{{ article.getCreated.format('d/m/Y') }}</td>
                    {# <td class="col-md-1">{{ article.getPostedBy }}</td> #}
                    <td class="col-md-1">
                        <a
                            href="{{ path('admin_article_edit', {id: article.id}) }}"
                        >
                            {{ 'edit'|trans }}
                        </a> |
                        {% set confirmMessage = 'confirm.delete.message'|trans %}
                        <a
                            href="{{ path('admin_article_delete', {id: article.id}) }}"
                            onClick="return confirm('{{ confirmMessage }}')"
                        >
                            {{ 'delete'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
{% endblock %}