{% extends "NGSContentBundle:Admin:dashboard.html.twig" %}

{% block admin_content %}
    <div class="flash-message">
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% elseif app.session.flashBag.has('error') %}
        <div class="alert alert-error">
            {% for msg in app.session.flashBag.get('error') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    </div>
    <table class="table">
        <tr>
            <th>{{ 'cover'|trans }}</th>
            <th>{{ 'title'|trans }}</th>
            <th>{{ 'author'|trans }}</th>
            <th>{{ 'description'|trans }}</th>
            <th>{{ 'pdf_file'|trans }}</th>
            <th>{{ 'downloadable'|trans }}</th>
            <th>{{ 'created'|trans }}</th>
            <th>{{ 'postedby'|trans }}</th>
            <th>{{ 'action'|trans }}</th>
        </tr>
        {% if libraries %}
            {% for library in libraries %}
                <tr>
                    <td>
                        <img
                            src="/uploads/libraries/{{ library.getPicturePath }}"
                            alt={{ 'cover'|trans }}
                            class="thumb-ebook"
                        >
                    </td>
                    <td>{{ library.getTitle }}</td>
                    <td>{{ library.getAuthor }}</td>
                    <td class="show-more">{{ library.getDescription|striptags }}</td>
                    <td>{{ library.getFilePath }}</td>
                    <td>
                        {{ (library.isDownloadable) ? 'yes'|trans : 'no'|trans }}
                    </td>
                    <td>{{ library.getCreated.format('d/m/Y') }}</td>
                    <td>{{ library.getPostedBy }}</td>
                    <td>
                        <a
                            href="{{ path('admin_library_edit', {id: library.id}) }}"
                        >
                            {{ 'edit'|trans }}
                        </a> |
                        {% set confirmMessage = 'confirm.delete.message'|trans %}
                        <a
                            href="{{ path('admin_library_delete', {id: library.id}) }}"
                            onClick="return confirm('{{ confirmMessage }}')"
                        >
                            {{ 'delete'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
{% endblock %}