{% extends "NGSContentBundle:Admin:dashboard.html.twig" %}

{% block admin_content %}
    <div class="flash-message">
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% elseif app.session.flashBag.has('error') %}
        <div class="alert alert-error">
            {% for msg in app.session.flashBag.get('error') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    </div>
    <table class="table">
        <tr>
            <th>{{ 'title'|trans }}</th>
            <th>{{ 'description'|trans }}</th>
            <th>{{ 'picture'|trans }}</th>
            <th>{{ 'date'|trans }}</th>
            <th>{{ 'created'|trans }}</th>
            <th>{{ 'postedby'|trans }}</th>
            <th>{{ 'action'|trans }}</th>
        </tr>
        {% if events %}
            {% for event in events %}
                <tr>
                    <td>{{ event.getTitle }}</td>
                    <td class="show-more">{{ event.getDescription|striptags }}</td>
                    <td>
                        <img
                            src="/uploads/events/{{ event.getPicturePath }}"
                            alt={{ 'picture'|trans }}
                            class="img-thumb"
                        >
                    </td>
                    <td>{{ event.getDate.format('d/m/Y') }}</td>
                    <td>{{ event.getCreated.format('d/m/Y') }}</td>
                    <td>{{ event.getPostedBy }}</td>
                    <td>
                        <a
                            href="{{ path('admin_event_edit', {id: event.id}) }}"
                        >
                            {{ 'edit'|trans }}
                        </a> |
                        {% set confirmMessage = 'confirm.delete.message'|trans %}
                        <a
                            href="{{ path('admin_event_delete', {id: event.id}) }}"
                            onClick="return confirm('{{ confirmMessage }}')"
                        >
                            {{ 'delete'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
{% endblock %}