{% extends "NGSContentBundle:Admin:dashboard.html.twig" %}

{% block admin_content %}
    <div class="flash-message">
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% elseif app.session.flashBag.has('error') %}
        <div class="alert alert-error">
            {% for msg in app.session.flashBag.get('error') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    </div>
    <table class="table">
        <tr class="row">
            <th class="col-md-3">{{ 'title'|trans }}</th>
            <th class="col-md-4">{{ 'description'|trans }}</th>
            <th class="col-md-2">{{ 'picture'|trans }}</th>
            <th class="col-md-1">{{ 'date'|trans }}</th>
            <th class="col-md-1">{{ 'created'|trans }}</th>
            {# <th class="col-md-1">{{ 'postedby'|trans }}</th> #}
            <th class="col-md-1">{{ 'action'|trans }}</th>
        </tr>
        {% if events %}
            {% for event in events %}
                <tr class="row">
                    <td class="col-md-3">{{ event.getTitle }}</td>
                    <td class="show-more col-md-4">{{ event.getDescription|striptags }}</td>
                    <td class="col-md-2">
                        <img
                            src="/uploads/events/{{ event.getPicturePath }}"
                            alt={{ 'picture'|trans }}
                            class="img-thumb"
                        >
                    </td>
                    <td class="col-md-1">{{ event.getDate.format('d/m/Y') }}</td>
                    <td class="col-md-1">{{ event.getCreated.format('d/m/Y') }}</td>
                    {# <td class="col-md-1">{{ event.getPostedBy }}</td> #}
                    <td class="col-md-1">
                        <a
                            href="{{ path('admin_event_edit', {id: event.id}) }}"
                        >
                            {{ 'edit'|trans }}
                        </a> |
                        {% set confirmMessage = 'confirm.delete.message'|trans %}
                        <a
                            href="{{ path('admin_event_delete', {id: event.id}) }}"
                            onClick="return confirm('{{ confirmMessage }}')"
                        >
                            {{ 'delete'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
{% endblock %}