{% extends 'NGSHomeBundle::home.html.twig' %}

{% block stylesheets %}

    {% stylesheets
        '@NGSContentBundle/Resources/public/css/dashboard.css'
        filter='cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}

{% block body %}
    <div class="admin-header">
        <header>
            <div class="admin-logging">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                    <a href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                {% endif %}
            </div>

            {% if app.request.hasPreviousSession %}
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="flash-{{ type }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </header>
    </div>
    <div id="admin-container">
        <div class="admin-content">
            {% block admin_content %}
            <div class="row dashboard-row">
                <div class="col-md-2">
                    {{ 'article'|trans }}
                </div>
                <div class="col-md-1">
                    <a href="{{ path('admin_article_new') }}">{{ 'new'|trans }}</a>
                </div>
                <div class="col-md-1">
                    <a href="{{ path('admin_articles') }}">{{ 'list'|trans }}</a>
                </div>
            </div>
            <div class="row dashboard-list">
                <div class="col-md-2">
                    {{ 'announcement'|trans }}
                </div>
                <div class="col-md-1">
                    <a href="{{ path('admin_announcement_new') }}">{{ 'new'|trans }}</a>
                </div>
                <div class="col-md-1">
                    <a href="{{ path('admin_announcement') }}">{{ 'list'|trans }}</a>
                </div>
            </div>
            <div class="row dashboard-list">
                <div class="col-md-2">
                    {{ 'event'|trans }}
                </div>
                <div class="col-md-1">
                    <a href="{{ path('admin_event_new') }}">{{ 'new'|trans }}</a>
                </div>
                <div class="col-md-1">
                    <a href="{{ path('admin_event') }}">{{ 'list'|trans }}</a>
                </div>
            </div>
            <div class="row dashboard-list">
                <div class="col-md-2">
                    {{ 'library'|trans }}
                </div>
                <div class="col-md-1">
                    <a href="{{ path('admin_library_new') }}">{{ 'new'|trans }}</a>
                </div>
                <div class="col-md-1">
                    <a href="{{ path('admin_library') }}">{{ 'list'|trans }}</a>
                </div>
            </div>
            <div class="row dashboard-list">
                <div class="col-md-2">
                    {{ 'contactbook'|trans }}
                </div>
                <div class="col-md-1">
                    <a href="{{ path('admin_contactbook_new') }}">{{ 'new'|trans }}</a>
                </div>
                <div class="col-md-1">
                    <a href="{{ path('admin_contactbook') }}">{{ 'list'|trans }}</a>
                </div>
            </div>
            <div class="row dashboard-list">
                <div class="col-md-2">
                    {{ 'contactbook_section'|trans }}
                </div>
                <div class="col-md-1">
                    <a href="{{ path('admin_contactbook_section_new') }}">{{ 'new'|trans }}</a>
                </div>
                <div class="col-md-1">
                    <a href="{{ path('admin_contactbook_section') }}">{{ 'list'|trans }}</a>
                </div>
            </div>
            {% endblock %}
        </div>
    </div>

{% endblock %}