{% extends "NGSHomeBundle::home.html.twig" %}

{% block content %}
    <table>
        <tr class="row">
            <th class="col-md-2">{{ 'cover'|trans }}</th>
            <th class="col-md-2">{{ 'title'|trans }}</th>
            <th class="col-md-2">{{ 'author'|trans }}</th>
            <th class="col-md-3">{{ 'description'|trans }}</th>
            <th class="col-md-1">{{ 'read'|trans }}</th>
            <th class="col-md-2">{{ 'download'|trans }}</th>
        </tr>
    {% for library in libraries %}
        <tr class="row">
            <td class="col-md-2"><img src="/uploads/libraries/{{ library.getPicturePath }}" alt="Cover" class="thumb-ebook"></td>
            <td class="col-md-2">{{ library.getTitle }}</td>
            <td class="col-md-2">{{ library.getAuthor }}</td>
            <td class="show-more col-md-3">{{ library.getDescription|striptags }}</td>
            <td class="col-md-1">
                <a
                    href="{{ path('ngs_library_read', {filename: library.filePath}) }}"
                >
                    {{ 'read'|trans }}
                </a>
            </td>
            <td class="col-md-2">
            {% if library.isDownloadable == true %}
                <a
                    href="{{ path('ngs_library_download', {filename: library.filePath}) }}"
                >
                    {{ 'download'|trans }}
                </a>
            {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}