{% extends "NGSHomeBundle::home.html.twig" %}

{% block content %}
    <table>
        <tr>
            <th>{{ 'cover'|trans }}</th>
            <th>{{ 'title'|trans }}</th>
            <th>{{ 'author'|trans }}</th>
            <th>{{ 'description'|trans }}</th>
            <th>{{ 'read'|trans }}</th>
            <th>{{ 'download'|trans }}</th>
        </tr>
    {% for library in libraries %}
        <tr>
            <td style="text-align: center"><img src="/uploads/libraries/{{ library.getPicturePath }}" alt="Cover" class="thumb-ebook"></td>
            <td>{{ library.getTitle }}</td>
            <td>{{ library.getAuthor }}</td>
            <td>{{ library.getDescription|striptags }}</td>
            <td style="text-align: center">
                <a
                    href="{{ path('ngs_library_read', {filename: library.filePath}) }}"
                >
                    {{ 'read'|trans }}
                </a>
            </td>
            <td style="text-align: center">
            {% if library.isDownloadable == true %}
                <a
                    href="{{ path('ngs_library_download', {filename: library.filePath}) }}"
                >
                    {{ 'download'|trans }}
                </a>
            {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}