{% extends "NGSContentBundle:Admin:dashboard.html.twig" %}

{% block admin_content %}
    <div class="flash-message">
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% elseif app.session.flashBag.has('error') %}
        <div class="alert alert-error">
            {% for msg in app.session.flashBag.get('error') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    </div>
    <table class="table">
        <tr class="row">
            <th class="col-md-1">{{ 'name'|trans }}</th>
            <th class="col-md-1">{{ 'description'|trans }}</th>
            <th class="col-md-2">{{ 'logo'|trans }}</th>
            <th class="col-md-1">{{ 'company_name'|trans }}</th>
            <th class="col-md-1">{{ 'phone'|trans }}</th>
            <th class="col-md-1">{{ 'email'|trans }}</th>
            <th class="col-md-1">{{ 'address'|trans }}</th>
            <th class="col-md-1">{{ 'website'|trans }}</th>
            <th class="col-md-1">Facebook</th>
            <th class="col-md-1">{{ 'section'|trans }}</th>
            {# <th>{{ 'postedby'|trans }}</th> #}
            <th class="col-md-1">{{ 'action'|trans }}</th>
        </tr>
        {% if contact_books %}
            {% for  contact_book in contact_books %}
                <tr class="row">
                    <td class="col-md-1">{{ contact_book.getTitle }}</td>
                    <td class="show-more col-md-1">{{ contact_book.getDescription|striptags }}</td>
                    <td class="col-md-2">
                        <img
                            src="/uploads/contact_books/{{ contact_book.getPicturePath }}"
                            alt={{ 'logo'|trans }}
                            class="img-thumb"
                        >
                    </td>
                    <td class="col-md-1">{{ contact_book.getCompanyName }}</td>
                    <td class="col-md-1">{{ contact_book.getPhone }}</td>
                    <td class="col-md-1">{{ contact_book.getEmail }}</td>
                    <td class="col-md-1">{{ contact_book.getAddress }}</td>
                    <td class="col-md-1">{{ contact_book.getWebsite }}</td>
                    <td class="col-md-1">{{ contact_book.getFacebook }}</td>
                    <td class="col-md-1">{{ contact_book.getSection }}</td>
                    {# <td>{{ contact_book.getPostedBy }}</td> #}
                    <td class="col-md-1">
                        <a
                            href="{{ path('admin_contactbook_edit', {id: contact_book.id}) }}"
                        >
                            {{ 'edit'|trans }}
                        </a> |
                        {% set confirmMessage = 'confirm.delete.message'|trans %}
                        <a
                            href="{{ path('admin_contactbook_delete', {id: contact_book.id}) }}"
                            onClick="return confirm('{{ confirmMessage }}')"
                        >
                            {{ 'delete'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
{% endblock %}