{% extends "NGSContentBundle:Admin:dashboard.html.twig" %}

{% block admin_content %}
    <div class="flash-message">
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% elseif app.session.flashBag.has('error') %}
        <div class="alert alert-error">
            {% for msg in app.session.flashBag.get('error') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    </div>
    <table class="table">
        <tr>
            <th>{{ 'name'|trans }}</th>
            <th>{{ 'description'|trans }}</th>
            <th>{{ 'logo'|trans }}</th>
            <th>{{ 'company_name'|trans }}</th>
            <th>{{ 'phone'|trans }}</th>
            <th>{{ 'email'|trans }}</th>
            <th>{{ 'address'|trans }}</th>
            <th>{{ 'website'|trans }}</th>
            <th>Facebook</th>
            <th>{{ 'section'|trans }}</th>
            <th>{{ 'postedby'|trans }}</th>
            <th>{{ 'action'|trans }}</th>
        </tr>
        {% if contact_books %}
            {% for  contact_book in contact_books %}
                <tr>
                    <td>{{ contact_book.getTitle }}</td>
                    <td class="show-more">{{ contact_book.getDescription|striptags }}</td>
                    <td>
                        <img
                            src="/uploads/contact_books/{{ contact_book.getPicturePath }}"
                            alt={{ 'logo'|trans }}
                            class="img-thumb"
                        >
                    </td>
                    <td>{{ contact_book.getCompanyName }}</td>
                    <td>{{ contact_book.getPhone }}</td>
                    <td>{{ contact_book.getEmail }}</td>
                    <td>{{ contact_book.getAddress }}</td>
                    <td>{{ contact_book.getWebsite }}</td>
                    <td>{{ contact_book.getFacebook }}</td>
                    <td>{{ contact_book.getSection }}</td>
                    <td>{{ contact_book.getPostedBy }}</td>
                    <td>
                        <a
                            href="{{ path('admin_contactbook_edit', {id: contact_book.id}) }}"
                        >
                            {{ 'edit'|trans }}
                        </a> |
                        {% set confirmMessage = 'confirm.delete.message'|trans %}
                        <a
                            href="{{ path('admin_contactbook_delete', {id: contact_book.id}) }}"
                            onClick="return confirm('{{ confirmMessage }}')"
                        >
                            {{ 'delete'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
{% endblock %}