{% extends 'base.html.twig' %}

{% block common_stylesheets %}
    {% stylesheets
        '@common_css'
        filter='cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />

    {% endstylesheets %}
{% endblock %}
{% block stylesheets %}

    {% stylesheets
        '@NGSHomeBundle/Resources/public/css/home.css'
        filter='cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />

    {% endstylesheets %}

    {# {% block admin_stylesheets %}{% endblock %} #}
    {# {% block login_stylesheets %}{% endblock %} #}

{% endblock %}

{% block javascripts %}
    {% javascripts
        '@jquery_js'
        '@bootstrap_js'
        '@NGSHomeBundle/Resources/public/js/common.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <div id="header_wrapper">
        <header id="header" role="banner">
            <div id="logo">
                <a title="Home" href="{{ path('ngs_home_homepage') }}">
                    {% image '@NGSHomeBundle/Resources/public/images/logo.png' %}
                        <img src="{{ asset_url }}" alt="Example" />
                    {% endimage %}
                </a>
            </div>
            <div class="row top-right">
                <div class="col-sm-3 social-media">
                    <a href="www.twitter.com/kimly">
                        <img
                            src="../../bundles/ngshome/images/twitter.png"
                            alt="twitter"
                            title="twitter"
                        />
                    </a>
                    <a href="www.facebook.com/kimly">
                        <img
                            src="../../bundles/ngshome/images/facebook.png"
                            alt="facebook"
                            title="facebook"
                        />
                    </a>
                </div>
                <div class="col-sm-3 language-switcher"><a href="">English</a> | <a href="">ខ្មែរ</a></div>
                <div class="col-sm-6 logging">
                    <div>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                            <a href="{{ path('fos_user_security_logout') }}">
                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                            </a>
                        {% else %}
                            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                        {% endif %}
                    </div>

                    {% if app.request.hasPreviousSession %}
                        {% for type, messages in app.session.flashbag.all() %}
                            {% for message in messages %}
                                <div class="flash-{{ type }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="clear"></div>
        </header>
    </div>
    <div class="menu_wrapper">
        {{ render(controller('NGSHomeBundle:Home:menu')) }}
    </div>
    <div id="container">
        {# <div id="sidebar-left">
        </div> #}
        <div id="content">
            {% block content %}
                <div class="region region-slideshow">
                    <div id="myCarousel" class="carousel slide slider-wrapper" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                          <li data-target="#myCarousel" data-slide-to="1"></li>
                          <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" id="slider" role="listbox">

                          <div class="item active">
                            <img src="../../bundles/ngshome/images/slide1.png" alt="Chania" style="width: 100%" height="345">
                            <div class="carousel-caption">
                              <h3>Chania</h3>
                              <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
                            </div>
                          </div>

                          <div class="item">
                            <img src="../../bundles/ngshome/images/slide2.png" alt="Chania" style="width: 100%" height="345">
                            <div class="carousel-caption">
                              <h3>Chania</h3>
                              <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
                            </div>
                          </div>
                          <div class="item">
                            <img src="../../bundles/ngshome/images/slide3.png" alt="Flower" style="width: 100%" height="345">
                            <div class="carousel-caption">
                              <h3>Flowers</h3>
                              <p>Beatiful flowers in Kolymbari, Crete.</p>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div id="top-area" class="clearfix">
                    <div class="row">
                        <div class="col-sm-8">
                            <ul>
                                <li class="row title">{{ 'events'|trans }}</li>
                                {% if events is defined %}
                                    {% for event in events %}
                                        <li class="row">
                                            <span class="col-sm-2">{{ event.getDate.format('d/M/Y') }}</span>
                                            <a
                                                href="{{ path('ngs_event_show', {id: event.id}) }}"
                                                class="col-sm-10"
                                            >
                                                {{ event.getTitle }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <ul>
                                <li class="title">{{ 'our_services'|trans }}</li>
                                {% if services is defined %}
                                    {% for service in services %}
                                        <li>
                                            <a
                                                href="{{ path('ngs_service', {id: service.id}) }}"
                                            >
                                                {{ service.getTitle }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>

    <div id="footer">
        <div id="footer_wrapper">
            <div id="footer-area" class="clearfix">
                <div class="row">
                    <div class="col-sm-4">
                        <h2>Contact Info</h2>
                        <div class="content">
                            <ul>
                                <li>Addrees: #38, St 350, Toul Kork, Phnom Penh</li>
                                <li>Phone: 023 4454 4444</li>
                                <li>Email: admin@gmail.com</li>
                                <li>Fax: 3535353</li>
                                <li>Website: www.facebook.com/kimly</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <h2>About</h2>
                        <div class="content">
                            {{ render(controller('NGSHomeBundle:Home:aboutBlock')) }}
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <h2>{{ 'our_services'|trans }}</h2>
                        <div class="content">
                            {{ render(controller('NGSHomeBundle:Home:serviceBlock')) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_credit">
            <div class="footer_inner_credit">
                <div id="copyright">
                    <p class="copyright">Copyright © 2015-2016. </p>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
