<nav id="main-menu" role="navigation">
    <a class="nav-toggle" href="#">Navigation</a>
    <div class="menu-navigation-container">
        <ul class="menu">
            <li class="first leaf">
                <a
                    href="{{ path('ngs_home_homepage') }}"
                    {% if page is defined and page == 'home' %}
                    class="active"
                    {% endif %}
                >
                    {{ 'home'|trans }}
                </a>
            </li>
            <li class="leaf">
                <a
                    href="{{ path('ngs_about') }}"
                    {% if page is defined and page == 'about' %}
                    class="active"
                    {% endif %}
                >
                    {{ 'about'|trans }}
                </a>
                <ul class="menu" style="display: none;">
                    {% if abouts is defined %}
                        {% for about in abouts %}
                            <li class="leaf">
                                <a
                                    href="{{ path('ngs_about_show', {id: about.id}) }}"
                                >
                                    {{ about.getTitle }}
                                </a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </li>
            <li class="leaf">
                <a
                    href="{{ path('ngs_service') }}"
                    {% if page is defined and page == 'service' %}
                    class="active"
                    {% endif %}
                >
                    {{ 'service'|trans }}
                </a>
                <ul class="menu" style="display: none;">
                    {% if services is defined %}
                        {% for service in services %}
                            <li class="leaf">
                                <a
                                    href="{{ path('ngs_service_show', {id: service.id}) }}"
                                >
                                    {{ service.getTitle }}
                                </a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </li>
            <li class="leaf">
                <a
                    href="{{ path('ngs_library') }}"
                    {% if page is defined and page == 'library' %}
                    class="active"
                    {% endif %}
                >
                    {{ 'library'|trans }}
                </a>
            </li>
            <li class="last leaf">
                <a
                    href="{{ path('mremi_contact_form') }}"
                    {% if page is defined and page == 'contact' %}
                    class="active"
                    {% endif %}
                >
                    {{ 'contact'|trans }}
                </a>
            </li>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li class="last leaf">
                    <a
                        href="{{ path('admin_dashboard') }}"
                        {% if page is defined and page == 'dashboard' %}
                        class="active"
                        {% endif %}
                    >
                        {{ 'dashboard'|trans }}
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="clear"></div>
</nav>

