<ul>
    {% if events is defined %}
        <li class="title">{{ 'events'|trans }}</li>
        <li><a href="{{ path('ngs_event') }}">{{ 'all'|trans }}</a></li>
        {% for event in events %}
            <li>
                <a
                    href="{{ path('ngs_event_show', {id: event.id}) }}"
                    title="{{ event.getTitle }}"
                >
                    {{ event.getTitle }}
                </a>
                <div class="date">{{ event.getDate.format('d/M/Y') }}</div>
            </li>
        {% endfor %}
    {% endif %}
</ul>
<ul>
    {% if announcements is defined %}
        <li class="title">{{ 'announcement'|trans }}</li>
        <li><a href="{{ path('ngs_announcement') }}">{{ 'all'|trans }}</a></li>
        {% for announcement in announcements %}
            <li>
                <a
                    href="{{ path('ngs_announcement_show', {id : announcement.id}) }}"
                    title="{{ announcement.getTitle }}"
                >
                    {{ announcement.getTitle }}
                </a>
                <div class="date">{{ announcement.getDate.format('d/M/Y') }}</div>
            </li>
        {% endfor %}
    {% endif %}
</ul>
<ul>
    {% if sections is defined %}
        <li class="title">{{ 'contact_book'|trans }}</li>
        <li><a href="{{ path('ngs_contactbook') }}">{{ 'all'|trans }}</a></li>
        {% for section in sections %}
            <li>
                <a
                    href="{{ path('ngs_contact_book', {section : section.id}) }}"
                    title="{{ section.getName }}"
                >
                    {{ section.getName }}
                </a>
            </li>
        {% endfor %}
    {% endif %}
</ul>
